.vscode
**/.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
**/init

# Frontend
**/node_modules
**/dist
**/dist

#Backend
TaskList.Backend/TaskListBackend.Api/bin
TaskList.Backend/TaskListBackend.Api/obj
TaskList.Backend/.vs
**/bin
**/obj
TaskList.Frontend/.env
