.taskColumn {
    width: 33%;
    background-color: white;
    padding: 20px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px,
        rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
    gap: 20px;
}

.tasksColumnContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    padding: 20px;
}

@media screen and (max-width: 100em) {
    .taskColumn {
        width: 100%;
    }
}
