:root {
    --spacing-1: 0.125rem;
    --spacing-2: 0.25rem;
    --spacing-3: 0.5rem;
    --spacing-4: 0.75rem;
    --spacing-5: 1rem;
    --spacing-6: 1.5rem;
    --spacing-7: 90px;
    --spacing-8: 2.5rem;
    --spacing-9: 3rem;
    --spacing-10: 3.5rem;
    --spacing-11: 4rem;
    --spacing-12: 4.5rem;
    --spacing-13: 5rem;
}
