.wrapper {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.leftPanel {
    margin: 20 20 20 0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.tasks {
    margin: 20 20 20 0;
    padding: 20px;
    background-color: yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}

.statusLists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 80em) {
    .statusLists {
        flex-direction: column;
    }
}
